@inherits LayoutComponentBase
@inject BlazorMovies.Client.Auth.TokenRenewer _tokenRenewer
@inject NavigationManager _navigationManager
@inject IJSRuntime _js

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginLinks />
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4" style="margin-bottom: 20px">
        @Body
    </div>
</div>

@code {     
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await _js.InitializeInactivityTimer(DotNetObjectReference.Create(this));
        _tokenRenewer.Initiate();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("logout");
        }
    }
}