@page "/person/edit/{PersonId:int}"
@inject IPersonRepository _personRepository
@inject NavigationManager _navigationManager


<h3>Edit Person</h3>

@if (Person != null)
{
    <PersonForm Person="Person" OnValidSubmit="Edit" />
}


@code {
    [Parameter] public int PersonId { get; set; }

    Person Person;


    protected async override Task OnInitializedAsync()
    {
        Person = await _personRepository.GetPersonById(PersonId);
    }

    private async Task Edit()
    {
        
        await _personRepository.UpdatePerson(Person);
        _navigationManager.NavigateTo("people");
       
    }
}
