@page "/people/"
@inject IPersonRepository _personRepository

<h3>Index People</h3>

<div class="form-group">
    <a class="btn btn-info" href="person/create">New Person</a>
</div>

<GenericList List="People">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in People)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/person/edit/@item.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeletePerson(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {
        List<Person> People;
        PaginationDTO PaginationDTO = new PaginationDTO() { RecordsPerPage = 1};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var paginatedResponse = await _personRepository.GetPeople(PaginationDTO);
            People = paginatedResponse.Response;
            Console.WriteLine(paginatedResponse.TotalAmountPages);
        }
        catch (Exception ex)
        {

            // Error handling
        }
    }

    private async Task DeletePerson(int id)
    {
        await _personRepository.DeletePerson(id);
        var paginatedResponse = await _personRepository.GetPeople(PaginationDTO);
        People = paginatedResponse.Response;
    }
}
