@page "/"
@page "/index/"
@inject IMoviesRepository _moviesRepository

<div>
    <h3>In Theaters</h3>
    <MoviesList Movies="InTheaters" />
</div>
<div>
    <h3>Upcoming movies</h3>
    <MoviesList Movies="UpComingReleases" />
</div>

@code{
    private List<Movie> InTheaters;
    private List<Movie> UpComingReleases;

    protected async override Task OnInitializedAsync()
    {
        var response = await _moviesRepository.GetIndexPageDTO();
        InTheaters = response.InTheaters;
        UpComingReleases = response.UpComingRealeases;
    }
}