@page "/movies/create"
@inject NavigationManager _navigationManager
@inject IMoviesRepository _moviesRepository
@inject IGenreRepository _genreRepository

<h3>Create Movie</h3>

@if(NotSelectedGenres != null)
{
    <MovieForm Movie="movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />
}


@code {

    private Movie movie = new Movie();
    private List<Genre> NotSelectedGenres;

    protected async override Task OnInitializedAsync()
    {
        NotSelectedGenres = await _genreRepository.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await _moviesRepository.CreateMovie(movie);
            _navigationManager.NavigateTo($"movie/{movieId}/{movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {

            throw;
        }
        // Saving movie...

        Console.WriteLine("This works");
        //Console.WriteLine(_navigationManager.Uri);

    }
}
