@page "/movies/create"
@inject NavigationManager navigationManager
@inject IMoviesRepository _moviesRepository

<h3>Create Movie</h3>

<MovieForm Movie="movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres"/>

@code {

    private Movie movie = new Movie();

    private List<Genre> NotSelectedGenres = new List<Genre>()
    {
        new Genre(){Id = 1, Name = "Action"},
        new Genre(){Id = 2, Name = "Comedy"},
        new Genre(){Id = 3, Name = "Drama"},
    };

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await _moviesRepository.CreateMovie(movie);
            navigationManager.NavigateTo($"movie/{movieId}/{movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {

            throw;
        }
        // Saving movie...

        Console.WriteLine("This works");
        //Console.WriteLine(navigationManager.Uri);

    }
}
