@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository _genreRepository
@inject NavigationManager _navigationManager

<h3>Edit Genre</h3>

@if (genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit" />
}


@code {
    [Parameter] public int GenreId { get; set; }
    public Genre genre;

    protected async override Task OnInitializedAsync()
    {
        genre = await _genreRepository.GetGenres(GenreId);
    }

    private void Edit()
    {
        _genreRepository.UpdateGenre(genre);
        _navigationManager.NavigateTo("genres");
    }
}
